# Credentials for GitHub OAuth (Get these from GitHub Developer Settings)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# A random string used to secure session cookies (e.g., use `openssl rand -base64 32`)
SESSION_SECRET=