# Credentials for GitHub OAuth (Get these from GitHub Developer Settings)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# A random string used to secure session cookies (e.g., use `openssl rand -base64 32`)
SESSION_SECRET=

# URL to the GitFest API (e.g., https://gitfest.com)
NEXT_PUBLIC_GITFEST_URL=

# Credentials for GitHub App (used for committing the README and layout)
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=
